:root{
    /* Colours */
    --color-text: #0b2447;
    --color-primary: #576cbc;
    --color-secondary: #a8b2d1;
    --color-dark: #e6ecf8;
    --color-bg: #ece7dd;
    --color-tertiary: #eb863e;
    --color-quaternary: #c49d00;
    
    /* Fonts */
    --font-roboto: "Roboto";
}

[data-theme='dark'] {
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-tertiary: #fd781e;
    --color-quaternary: #facb0a;
  }